<div class="edit-profile-container">
    <h2 class="edit-profile-title">Editar Perfil</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="edit-profile-field">
            <%= f.label :Nombre %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "edit-profile-input" %>
        </div>

        <div class="edit-profile-field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit-profile-input" %>
        </div>

        <div class="edit-profile-field">
            <%= f.label :avatar %><br />
            <%= f.file_field :avatar, accept: "image/*", class: "edit-profile-input" %>
        </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field py-2">
    <%= f.label :contraseña %> <i>(déjalo en blanco si no deseas cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimo</em>
    <% end %>
  </div>

  <div class="field py-2">
    <%= f.label :confirma_contraseña %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field py-2">
    <%= f.label :contraseña_actual %> <i>(Necesaria para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="edit-profile-actions">
    <%= f.submit "Actualizar", class: "btn btn-edit" %>
    <button type="button" onclick="history.back();" class="btn btn-outline-secondary">Cancelar</button>
  </div>
    <% end %>

    <div class="cancel-account-action">
      <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?", turbo_confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-delete" %>
    </div>
</div>
